* {
	margin : 0px;
	border : 0px solid red;
	font-family : Arial;
}

body {
	background : #FF4A36;
}

/* Fundo */

#bg {
	padding : 20px;
	background : linear-gradient(to bottom, #FF8345, #FF4A36) no-repeat;
}

/* Painel de autenticação*/

#form-autenticacao *{
	border : 0px solid blue;
}

#form-autenticacao {
	background : #FFC010;
	border-radius : 10px;
	margin : 50px auto;
	padding : 10px;
	width : 60%;
	max-width : 400px;
	min-width : 250px;
}

/* Topo */

#form-autenticacao div#form-topo {
	margin : 5px auto;
	width : 90%;
	max-height : 500px;
	text-align : center;
}

#form-autenticacao div#form-topo h3 {
	font-size : 1.6em;
	display : inline;
	margin : 10px;
}

#form-autenticacao div#form-topo img {
	float : left;
	width : 75px;
	margin : 5px;
}

/* Icones */

#form-autenticacao #form-icones {
	position : absolute;
	margin : 0px;
}

#form-autenticacao #form-icones img {
	display : block;
	margin : 10px 10px 20px 10px;
}

/* Formulário */

/* Propriedades gerais */

#form-autenticacao #form-campos {
	display : block;
}

#form-autenticacao #form-campos input {
	font-size : 1em;
	display : inline-block;
	width : 90%;
	height : 25px;
	margin : 10px;
	text-align : left;
	letter-spacing : 0.1em;
}

#form-autenticacao #form-botoes {
	font-size : 0.9em;
	text-align : center;
}

#form-autenticacao #form-botoes input#btn-login {
	cursor : pointer;
	display : block;
	width : 50%;
	height : 26px;
	margin : 10px auto;
	letter-spacing : 0.1em;
}

#form-autenticacao fieldset {
	font-size : 0.9em;
	margin : 10px;
}

/* Propriedades para autenticar */

#form-autenticacao #autenticar #form-campos {
	padding-left : 35px;
}

#form-autenticacao #autenticar #form-campos input {
	margin : 10px;
	text-align : left;
}

/* Propriedades para cadastrar */

#form-autenticacao #cadastrar #form-campos {
	text-align : left;
}

#form-autenticacao #cadastrar #form-campos input {
	margin : 5px 10px 15px 10px;
}

/* Inferior */

#form-autenticacao #inferior {
	font-size : 0.9em;
	margin : 20px 5px 10px 5px;
	text-align : center;
}

#form-autenticacao #inferior a {
	border-radius : 5px;
	cursor : pointer;
	font-size : 0.9em;
	font-weight : bold;
	margin : 4px;
	padding : 4px;
	text-decoration : none;
}

#form-autenticacao #inferior a:link,
#form-autenticacao #inferior a:visited {
	background : red;
	color : #FFC010;
	text-decoration : none;
}

#form-autenticacao #inferior a:hover,
#form-autenticacao #inferior a:active {
	background : white;
	color : red;
	text-decoration : none;
}