*{
	margin : 0px;
	border : px solid red;
}
body{
	background : #FF4A36;
}
#bg{
	padding : 1px;
	background : linear-gradient(to bottom, #FF8345, #FF4A36) no-repeat;
}
#form-autenticacao{
	background : #FFC010;
	border-radius : 10px;
	margin : 50px auto;
	width : 60%;
	height : 200px;
}
#form-autenticacao div#form-img{
	margin : 10px auto;
	width : 80%;
	height : 60px;
}
#form-autenticacao input{
	display : block;
	width : 80%;
	height : 20px;
	margin : 10px auto;
	text-align : left;
}

#form-autenticacao input#btn-login{
	display : block;
	width : 50%;
	height : 26px;
	margin : 10px auto;
}